apriltag
env
env_unused
hand_object_detector
apriltag.cpython-38-x86_64-linux-gnu.so
Dockerfile
**/__pycache__/
.ipynb_checkpoints/
*.so
*.avi
*.mp4
fairo
ghp
recordings
*.pkl
generative-models
human_demonstrations
labels
control_labels
*.zip

slurm-*.err
slurm-*.out
state_space_diffusion/IMG_8400.png
*.key
monometis

*.pt
k4aviewer.err
